{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container">

<h1>Bienvenue dans BACKOFFICE</h1>

<h4>Vous pouvez administrer ici la totalité du blog, la gestion des articles, des catégories, des commentaire et des utilisateurs du blog !
</h4>

</div


{% endblock %}
